@import "tailwindcss";

html,
body, #root {
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonName {
  background-color: #b9030f;
}

.buttonName:hover {
  background-color: #70160e;
}
